<%- model_class = List -%>

<h1>Lista de Tarefas- <%= link_to "Criar Novo", new_list_path, :class => 'btn btn-primary' %></h1><br>
<h4>1 - Se sua lista estiver como <b style="color:red;">Pública</b> qualquer um pode vê-la!</h4>
<!-- <h4>2 - Se sua lista estiver como <b style="color:red;">Privado</b> somente você pode vê-la</h4> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Criador da Lista</th>
      <th>Visibilidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <!-- <%= list.visibility == "Privado" ? "<tr class='red'>".html_safe : "<tr class='green'>".html_safe %> -->
      <tr>
        <td><%= list.name%></td>
        <td><%= list.user.name%></td>
        <td><%= list.visibility%></td>
        <td>
          <%= link_to "<span class='glyphicon'>&#xe105;</span>".html_safe,
          list_path(list), :class => 'btn btn-default btn-xs' %>
          <%= link_to "<span class='glyphicon'>&#x270f;</span>".html_safe,
          edit_list_path(list), :class => 'btn btn-default btn-xs' %>
          <%= link_to "<span class='glyphicon'>&#xe020</span>".html_safe,
          list_path(list),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= link_to "Novo",new_list_path,:class => 'btn btn-primary' %>
<a><%= link_to 'Voltar', root_path, :class => 'btn btn-default' %></a>
</div>
