<%- model_class = List -%>
<div class="text-center">
  <div class="page-header">
    <h2><b>Lista:</b> <%= @list.name %></h2>
    <h4><span class='glyphicon'>&#xe105;</span> <%= @list.visibility %></h4>
  </div>
  <%for work in @list.works%>
  <p>
    <b>Tarefa: </b><%= work.name%>
    <%if @list.user_id == current_user.id%>
      <%= link_to "<abbr title='Concluir Tarefa'><span class='glyphicon'> &#xe013;</span></abbr>".html_safe,
      status_list_path(work, status: 'enable'),
      method: :put,
      class: 'btn btn-success' unless work.status == true %>
      <%= "<b>Tarefa jรก Concluida!</b>".html_safe unless work.status == false%>
    <% end %>
  </p>

  <%for sub_work in work.sub_works%>
  <p><b>Sub-Tarefa: </b><%= sub_work.name%></p>
  <% end %>
  <% end %>



  <%= link_to "<span class='fa'>&#xf060;</span>".html_safe,lists_path, :class => 'btn btn-default'  %>
  <%= link_to "<abbr title='Criar Novo'><span class='glyphicon glyphicon-plus-sign'></span></abbr>".html_safe, new_list_path, :class => 'btn btn-success' %>
  <%if @list.user_id == current_user.id%>
    <%= link_to "<span class='glyphicon'>&#x270f;</span>".html_safe, edit_list_path(@list), :class => 'btn btn-default' %>
    <%= link_to "<span class='glyphicon'>&#xe020</span>".html_safe, list_path(@list),:method => 'delete', :class => 'btn btn-danger' %>
  <%end%>
</div>
